@model Practica02NARA.Models.Pelicula

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pelicula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePelicula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AñoPublicada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AñoPublicada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenPelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagenPelicula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorPeliculaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorPeliculaNavigation.NombreDirector)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
